/* input */
/* default */
.input {
    width: 394px;
    height: 48px;
    border-radius: 14px;
    border: none;
    outline: none;
    background-color: #EBECF0;
    transition: all .6s;
    margin-left: 4%;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;

    &:focus {
        box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
    }
}